doctype html
html(lang='sv')
  head
    meta(charset='utf-8')
    title ---=== EN LITEN ROBOT ===---
    link(rel='stylesheet' href='js/lib/jquery-ui/themes/smoothness/jquery-ui.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    div(id='container')
      form(action='/' method='post')
        label(for='municipality') Jag vill läsa om väderprognosen för: 
        input(type='text' name='municipality' id='municipality' value='Ange en kommun' size='14')
        input(type='submit' value='Skriv text')
      
      if error
        p #{error}
      if municipality
        h1 Väderprognos för #{municipality}
        if todaysForecast.morning
          - var cloudCoverWord = getWordForCloudCover(todaysForecast.morning.cloudCover)
          - var windSpeedWord = getWordForWindSpeed(todaysForecast.morning.windSpeed)
          - var precipitationWord = getWordForPrecipitation(todaysForecast.morning.precipitationCategories)
          p.
            På morgonen får vi #{cloudCoverWord} väder, #{precipitationWord} #{windSpeedWord} och 
            en temperatur på omkring #{todaysForecast.morning.temperature} grader.
        if todaysForecast.forenoon
          - var cloudCoverWord = getWordForCloudCover(todaysForecast.forenoon.cloudCover)
          - var windSpeedWord = getWordForWindSpeed(todaysForecast.forenoon.windSpeed)
          - var precipitationWord = getWordForPrecipitation(todaysForecast.forenoon.precipitationCategories)
          p.
            Under förmiddagen blir det #{cloudCoverWord} väder, #{precipitationWord} #{windSpeedWord} och 
            temperaturen blir cirka #{todaysForecast.forenoon.temperature} grader. 
        if todaysForecast.afternoon
          - var cloudCoverWord = getWordForCloudCover(todaysForecast.afternoon.cloudCover)
          - var windSpeedWord = getWordForWindSpeed(todaysForecast.afternoon.windSpeed)
          - var precipitationWord = getWordForPrecipitation(todaysForecast.afternoon.precipitationCategories)
          p.
            På eftermiddagen väntas #{cloudCoverWord} väder, #{precipitationWord} #{windSpeedWord} och 
            en temperatur på omkring #{todaysForecast.forenoon.temperature} grader.

        if todaysForecast.evening
          - var cloudCoverWord = getWordForCloudCover(todaysForecast.evening.cloudCover)
          - var windSpeedWord = getWordForWindSpeed(todaysForecast.evening.windSpeed)
          - var precipitationWord = getWordForPrecipitation(todaysForecast.evening.precipitationCategories)
          p.
            Till kvällen får vi #{cloudCoverWord} väder, #{precipitationWord} #{windSpeedWord} och en temperatur 
            på cirka  #{todaysForecast.evening.temperature} grader.
        if todaysForecast.night
          - var cloudCoverWord = getWordForCloudCover(todaysForecast.night.cloudCover)
          - var windSpeedWord = getWordForWindSpeed(todaysForecast.night.windSpeed)
          - var precipitationWord = getWordForPrecipitation(todaysForecast.night.precipitationCategories)
          p.
            Under natten väntas #{cloudCoverWord} väder, #{precipitationWord} #{windSpeedWord} och temperaturen 
            väntas ligga på cirka #{todaysForecast.night.temperature} grader.
        p Källa: SMHI
    script(src='js/lib/jquery/dist/jquery.min.js')
    script(src='js/lib/jquery-ui//jquery-ui.min.js')
    script(src='js/scripts.js')
